<%- include("header") -%>



  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">

    <% newListItems.forEach(function(item){ %>
      <div class="item">
        <a href="/delete/<%=item.id%>" class="w3-btn w3-orange w3-large button red">Delete<i
            class="w3-margin-left fa fa-trash"></i></a>

        <form id="<%=item.id%>" action="/toggle" method="post">
          <input value="<%=item.completed%>" name="completed" hidden>
          <input value="<%=item.id%>" name="id" hidden>
          <input type="submit" class="w3-btn w3-grey w3-large button red" value="
          <% if( item.completed){ %>
            Completed
            <% } else { %>
              Not Completed
              <% } %>">
          </input>
        </form>
        <p>
          <%= item.title %>
        </p>
      </div>


      <% }) %>

        <form class=" item" action="/" method="post">
          <input type="text" name="title" placeholder="Add New Item" autocomplete="on">
          <button type="submit" name="list">+</button>
        </form>
  </div>

  <%- include("footer") -%>