<%- include("header") -%>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">

    <% newListItems.forEach(function(item){ %>
      <div class="item">

        <form action="/toggle" method="post">
          <input value="<%=item.completed%>" name="completed" hidden />
          <input type="checkbox" value="<%=item.id%>" name="id" onchange="this.form.submit()">
        </form>
        <a href="/delete/<%=item.id%>" class="button red"><i class="fa fa-trash"></i></a>
        <p>
          <%= item.title %>
        </p>

      </div>

      <% }) %>

        <form class="item" action="/" method="post">
          <input type="text" name="title" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list">+</button>
        </form>
  </div>

  <%- include("footer") -%>